 <div class="profileInfo">

    <label class="center-element vertical-margins" for="image">
      <input size="50" type="file" name="image" accept="image/*" [(ngModel)]="profilePic" name="profilePic" id="image-input" style="display:none;"/>
      <img id="image" class="center-element vertical-margins" src="../../../assets/devanshi_profile_pic.png"/>
    </label>


 	<h2 class="text-center vertical-margins">Devanshi Sukhadia</h2>
 	<textarea class="center-element vertical-margins" rows="4" cols="50">I love to work with technology.  I find it very rewarding when I can fix an issue myself, rather than calling some professional. I would love to help others manage their technological problems...
	</textarea>
	<h5 class="text-center vertical-margins">Skill Tags</h5>

	<table class="vertical-margins">
    <tr>
      <td>recovery</td>
      <td>backup</td>
      <td>computer</td>
      <td>repair</td>
    </tr>

    <tr>
      <td>web development</td>
      <td>backend</td>
      <td>fullstack</td>
      <td>frontend</td>
    </tr>
  </table>

</div>
