<br>
<br>
<br>
<div>
   <h2 class="page-header">Prabpreet's Profile</h2> 
  <div>
  <img src="../../../assets/avatar_placeholder.png">
  <input size="50" type="file" accept="image/*" [(ngModel)]="profilePic" name="profilePic">

 	<h2>Prabpreet Singh</h2> 
 	<textarea rows="4" cols="50">"Stationed in Santa Clara, California; I have a vast experience in completing my own tasks by hand. Most of the times I prefer to help myself than to go to an expert. It ends up saving me a lot of money.
	</textarea>
	<h2>Skill Tags</h2>
	
	Skill tags go here


  </div>
</div>
