
  <div class="profileInfo">
  <img class="center-element vertical-margins" src="../../../assets/avatar_placeholder.png">
  <input class="center-element vertical-margins" size="50" type="file" accept="image/*" [(ngModel)]="profilePic" name="profilePic">

 	<h2 class="text-center vertical-margins">Prabpreet Singh</h2>
 	<textarea class="center-element vertical-margins" rows="4" cols="50">"Stationed in Santa Clara, California; I have a vast experience in completing my own tasks by hand. Most of the times I prefer to help myself than to go to an expert. It ends up saving me a lot of money.
	</textarea>
	<h2 class="text-center vertical-margins">Skill Tags</h2>

	<table class="vertical-margins">
    <tr>
      <td>Wifi</td>
      <td>IKEA</td>
      <td>assembly</td>
      <td>bicycle</td>
    </tr>

    <tr>
      <td>Photography</td>
      <td>Filmmaking</td>
      <td>XD</td>
      <td>Prototyping</td>
    </tr>
  </table>

</div>
