.center {
	margin: auto;
	width: 70%;
}

table {
	margin-left: 30%;
}

.background {
	background-color: #2F2F2F;
}

.button {
	background-color: #2F2F2F;
	color: white;
	font-size: 22px;
	border: none;
	cursor: pointer;
	padding: 20px 30px;
	margin: 4px 10px;
	border-radius: 15px;
	border-style: solid;
	border-color: gray;
}
