<app-navbar></app-navbar>
<br>
<br>
<br>


<div class="content">
  <h1>Personal Information</h1>
<table>
  <tr>
  <th>
    <input type="text" value="Please rate you level of expertise from 0-10 with the skills entered below" >
  </th>
  </tr>
  <tr>
    <td><textarea class="tagBox"></textarea></td>
    <td><textarea class="tagBox"></textarea></td>
  </tr>
  <tr>
    <td><textarea class="tagBox"></textarea></td>
    <td><textarea class="tagBox"></textarea></td>
  </tr>
  <tr>
    <td><textarea class="tagBox"></textarea></td>
    <td><textarea class="tagBox"></textarea></td>
  </tr>
  <tr>
    <td><textarea class="tagBox"></textarea></td>
    <td><textarea class="tagBox"></textarea></td>
  </tr>
</table>
  <a class="button" [routerLink]="['/bio']">Next</a>
</div>
