.tagBox {
   width: 720px;
   height: 100px;
   border-radius: 10px;
   border: 1px solid #000;
   resize: none;
   padding-right: 2px;
   overflow: hidden;
 }

textarea {
  font-size: 25px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.infoBox {
  width: 1460px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #000;
  resize: none;
  padding-right: 2px;
  margin-left: 20px;
  overflow: hidden;
}

.content {
  margin-top: 100px;
  width: 1480px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #E8E8E8;
  color: black;
  font-size: 22px;
  border: none;
  cursor: pointer;
  padding: 20px 30px;
  margin: 4px 10px;
  border-radius: 15px;
  border-style: solid;
  border-color: gray;
}

table {
  margin-bottom: 50px;
  border-collapse: separate;
  border-spacing: 20px 10px;
}

