 <div class="profileInfo">

    <label class="center-element vertical-margins" for="image">
      <input size="50" type="file" name="image" accept="image/*" [(ngModel)]="profilePic" name="profilePic" id="image-input" style="display:none;"/>
      <img id="image" class="center-element vertical-margins" src="../../../assets/anirrudha_profile_pic.jpg"/>
    </label>


 	<h2 class="text-center vertical-margins">Aniruddha Prabhu</h2>
 	<textarea class="center-element vertical-margins" rows="4" cols="50">Living in Fremont, California I know how to deal with wifi and networks more than anything. I have majored in Software Engineering from SJSU and my most entertaining classes were...
	</textarea>
	<h5 class="text-center vertical-margins">Skill Tags</h5>

	<table class="vertical-margins">
    <tr>
      <td>mac</td>
      <td>assembly</td>
      <td>repair</td>
      <td>networks</td>
    </tr>

    <tr>
      <td>installation</td>
      <td>software</td>
      <td>iot</td>
      <td>backups</td>
    </tr>
  </table>

</div>
